<div class='usersCards'>
  <div class="userCard">
    <a href="#" >
      <div >
        <img src=<%= @user.photo %>>
      </div>
      <div class="userInfo">
        <h2 ><%= @user.name %></h2>
        <p >Number of posts: <%= @user.posts_counter %></p>
      </div>
    </a>
  </div>
  <ul class='postInfo'>
    <% @posts.includes(comments: [:author]).each do |post| %>
      <li class='postCard'>
        <a href="<%= user_post_path(@user, post) %>" >
          <h3 ><%= post.title %></h3>
            <p ><%= post.text %></p>
            <div class="likesComments">
              <p >Likes: <%= post.likes_counter  %> ,</p>
              <p >comments: <%= post.comments_counter %> </p>
          </div>
          <ul >
            <%post.most_recent_comments.each do |comment| %>
              <li>
                <h3><%= @user.name %>: <%= comment.text %></h3>
              </li>
            <% end %>
          </ul>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="btnSeeAll">
    <a href="<%= new_user_post_path(@user) %>">Add new post</a>
  </div>
</div>